* {
    list-style-type: none;
   /* 移除列表项前的默认标记，比如圆点（对于无序列表<ul>）或数字（对于有序列表<ol>）*/
    box-sizing: border-box;
   /* 将元素的宽度和高度计算方式改为包括内边距和边框。
    也就是说，当你设置了一个元素的宽度和高度后，添加的内边距和边框不会增加元素的总尺寸，
    而是从设置的宽度和高度中减去相应的空间。
    这样，元素的总尺寸（包括内容、内边距和边框）将保持为你设置的宽度和高度。*/
    padding: 0;
   /* 将元素的内边距（padding）设置为0。内边距是元素内容与其边框之间的空间。
    当你将内边距设置为0时，内容会紧贴元素的边框，不会有任何额外的空间。
    padding:0;可以单独设置，也可以作为padding-top、padding-right、padding-bottom和padding-left的简写形式。
    当使用简写形式时，它会同时设置所有四个方向的内边距。
    如果你想要为不同的方向设置不同的内边距值，你可以分别指定它们，
    例如：padding: 10px 20px 15px 5px;（这分别设置了上、右、下、左的内边距）。*/

    margin:0;
   /* 将元素的外边距（margin）设置为0
    希望元素之间没有空白间隔，或者希望元素紧贴容器的边缘，可以将外边距设置为0
    margin: 0; 可以作为margin-top、margin-right、margin-bottom和margin-left的简写形式，
    同时设置所有四个方向的外边距。
    如果你想要为不同的方向设置不同的外边距值，你可以分别指定它们，
    例如：margin: 10px 20px 15px 5px;（这分别设置了上、右、下、左的外边距）。

    */

    text-decoration: none;  /*去掉下划线  一个CSS属性设置，用于移除文本上的装饰线，如下划线、上划线或贯穿线。
    移除这条下划线，使链接文本看起来与其他文本相同*/
}
a{
    color: black;
}